.header-mobile {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  margin: 0 auto;
  padding: 12px 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-mobile span {
  color: var(--primary-text-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  z-index: 0;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover,
  &:focus {

    fill: var(--accent-color);
  }
}

.menu-info {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.site-nav-mob {
  margin: 0 0 40px;

  &__item {
    margin: 0 0 36px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    color: #212121;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 40px;
  }
}

.contact-mob {
  margin: 0 0 64px;

  &__email {

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 24px;
    color: #757575;
  }

  &__tel {
    color: #2196F3;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 34px;
    margin: 0 0 32px;
    display: block;
  }
}

.list-social {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
      margin: 0 10px;
    }

    &:first-child:before {
      display: none;
    }
  }

  &_link {
    color: #2196F3;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}


.menu-btn-close {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 25px;
  top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}


.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 100%;
  z-index: 1;
}

.menu-container.is-open {
  display: block;
  padding: 48px 40px;

}

.is-hidden-menu {
  display: none;
}

.current-mob {
  color: #2196F3;
}

// header desctop
.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  margin: 0 auto;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header span {
  color: var(--primary-text-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icon {

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: #2196F3;
  }
}


.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}


.site-nav {
  display: flex;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__item {
  margin-left: 50px;

  &:first-child {
    margin: 0;
  }
}

.site-nav__link {

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

}

.current {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    display: inline-block;
    margin-right: 10px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.site-nav__link.current {
  color: var(--accent-color);
}

.contact {

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  &__link {
    color: var(--additional-tex-color);
    font-size: 12px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);

      .contact__icon {
        fill: #2196F3;
      }
    }

    &:last-child {
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      margin: 0 50px 0 0;

    }
  }

  &__icon {
    fill: #757575;
    margin: 0 10px 0 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}