.portfolio {

  padding: 30px 0;

  @media screen and (min-width: 1200px) {
    padding: 64px 0;
  }


}

.porfolio-filter {

  margin: 0 0 25px;
}


.portfolio h2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  color: var(--additional-tex-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

}


.portfolio-box__card {
  margin: 0 0 30px;

  @media screen and (min-width: 768px) {
    margin: 0 15px 30px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3* 30px) / 3);

  }

}

.portfolio-box__link {
  font-size: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 1px 4px 6px 0px #00000029;

  }
}



.portfolio-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), height 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2196F3E5
  }
}



p.portfolio-overlay__descr {
  z-index: 1;
  color: #FFFFFF;
  width: 322px;
  height: 168px;
  left: 239px;
  top: 325px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

}

.portfolio-info {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
  height: 100%;
}

.portfolio-info__title {
  margin: 0 0 4px;
}

.portfolio-info__text {
  margin: 0;
}

.portfolio-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .portfolio-overlay {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  img {
    width: 100%;
  }
}