.team {
  background-color: #F5F4FA;
  padding: 94px 0;

}

.team__list {
  margin: 50px 0 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px 0;
  }

}

.team__card {
  font-size: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 0 30px;

  @media screen and (min-width: 768px) {
    margin: 0 15px 30px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (max-width: 768px) {
    &:last-child {
      margin: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }

  img {
    width: 100%;
  }
}

.team__name {
  margin: 0 0 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__position {
  margin: 0;
  margin-bottom: 16px;
  color: var(--additional-tex-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__info {
  margin: 0;
  padding: 30px 0;
  background-color: #fff;
}