.social-media {
  display: flex;
  justify-content: center;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #FFFFFF;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    .social-media__icon {
      fill: #FFFFFF;}
  }
}





// .social-media__link:hover .social-media__icon,
// .social-media__link:focus .social-media__icon {
//   fill: #FFFFFF;
// }